<div class="container">
  <div class="card-garden">

    <div class="card-garden-top">
      <img src="https://www.palheironatureestate.com/media/widgetkit/gardens-slide-02-9aa4f8926f5bcf8f9d51629252742ed4.jpg" />
        <div class="card-garden-top-infos">
          <div class="card-garden-top-infos-details">
            <h2> € 120 </h2>
          </div>
          <div class="card-garden-top-infos-details">
            <h2> m² 50 </h2>
          </div>
        </div>
   </div>

<div class="card-garden-infos">
  <div>
     <h2>Köpenicker Lake Gem</h2>
     <p>Property with a view </p>
  </div>
    <i class="fas fa-arrow-square-right"></i>
 </div>
  </div>
</div>
