<div class="home">
  <h1 class="headline">air garden & grill</h1>
  </br>
  <h2 class="subhead"> Find your safe spot</h2>
  <p>
    <%= link_to "Explore", gardens_path, class: "btn btn-primary btn-lg call-to-action" %>
  </p>
</div>
