%black-background {
  background-color: $black;
}

.gardens-index, nav, .gardens-headline, .gardens {
  @extend %black-background;
}

.gardens-index {
  height: 100vh;
  color: $white;
}

nav {
  height: 50px;
}

.gardens-headline {
  height: 300px;
  > h1 {
    width: 50%;
    padding: 50px 20px 20px 20px;
  }
}

.gardens {
  overflow: auto;
}
